#about {

    .header {
        position: relative;
    }

    .header::after {
        border-bottom: 3px solid var(--color-cream);
        content: "";
        display: block;

        position: absolute;
        left: calc(50% - 2.5ch);
        width: 5ch;
    }

    .header:hover::after {
        animation: headerAnim 0.3s 0.15s;
    }

    .path-0 {
        animation: pathAnim-0 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .path-1 {
        animation: pathAnim-1 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .path-2 {
        animation: pathAnim-2 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

@keyframes headerAnim {
    from {
        left: calc(50%);
        width: 0ch;
    }
    to {
        left: calc(50% - 2.5ch);
        width: 5ch;
    }
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,500 L 0,93 C 97.51196172248802,101.3732057416268 195.02392344497605,109.7464114832536 303,105 C 410.97607655502395,100.2535885167464 529.4162679425838,82.38755980861244 621,72 C 712.5837320574162,61.61244019138756 777.3110047846891,58.70334928229666 856,75 C 934.6889952153109,91.29665071770334 1027.33971291866,126.79904306220095 1127,133 C 1226.66028708134,139.20095693779905 1333.33014354067,116.10047846889952 1440,93 L 1440,500 L 0,500 Z");
    }
    25% {
        d: path("M 0,500 L 0,93 C 121.39712918660285,96.02392344497608 242.7942583732057,99.04784688995217 334,93 C 425.2057416267943,86.95215311004783 486.22009569377985,71.83253588516746 572,79 C 657.7799043062201,86.16746411483254 768.3253588516747,115.62200956937801 873,122 C 977.6746411483253,128.377990430622 1076.4784688995214,111.67942583732058 1170,103 C 1263.5215311004786,94.32057416267942 1351.7607655502393,93.6602870813397 1440,93 L 1440,500 L 0,500 Z");
    }
    50% {
        d: path("M 0,500 L 0,93 C 127.30143540669854,116.03349282296651 254.6028708133971,139.06698564593302 337,134 C 419.3971291866029,128.93301435406698 456.88995215311013,95.76555023923446 540,90 C 623.1100478468899,84.23444976076554 751.8373205741627,105.87081339712918 874,107 C 996.1626794258373,108.12918660287082 1111.7607655502393,88.75119617224881 1205,83 C 1298.2392344497607,77.24880382775119 1369.1196172248804,85.1244019138756 1440,93 L 1440,500 L 0,500 Z");
    }
    75% {
        d: path("M 0,500 L 0,93 C 99.54066985645932,87.70813397129187 199.08133971291863,82.41626794258374 288,77 C 376.91866028708137,71.58373205741626 455.2153110047848,66.04306220095692 540,69 C 624.7846889952152,71.95693779904308 716.0574162679424,83.41148325358853 823,95 C 929.9425837320576,106.58851674641147 1052.555023923445,118.31100478468899 1158,118 C 1263.444976076555,117.68899521531101 1351.7224880382773,105.34449760765551 1440,93 L 1440,500 L 0,500 Z");
    }
    100% {
        d: path("M 0,500 L 0,93 C 97.51196172248802,101.3732057416268 195.02392344497605,109.7464114832536 303,105 C 410.97607655502395,100.2535885167464 529.4162679425838,82.38755980861244 621,72 C 712.5837320574162,61.61244019138756 777.3110047846891,58.70334928229666 856,75 C 934.6889952153109,91.29665071770334 1027.33971291866,126.79904306220095 1127,133 C 1226.66028708134,139.20095693779905 1333.33014354067,116.10047846889952 1440,93 L 1440,500 L 0,500 Z");
    }
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,500 L 0,218 C 123.61722488038276,203.1961722488038 247.23444976076553,188.39234449760764 327,188 C 406.76555023923447,187.60765550239236 442.67942583732054,201.62679425837322 534,195 C 625.3205741626795,188.37320574162678 772.0478468899522,161.10047846889952 895,172 C 1017.9521531100478,182.89952153110048 1117.1291866028707,231.9712918660287 1204,246 C 1290.8708133971293,260.0287081339713 1365.4354066985647,239.01435406698565 1440,218 L 1440,500 L 0,500 Z");
    }
    25% {
        d: path("M 0,500 L 0,218 C 108.38277511961724,212.84210526315792 216.76555023923447,207.6842105263158 299,217 C 381.23444976076553,226.3157894736842 437.32057416267946,250.10526315789468 526,248 C 614.6794258373205,245.89473684210532 735.9521531100478,217.89473684210532 842,212 C 948.0478468899522,206.10526315789468 1038.8708133971293,222.3157894736842 1136,227 C 1233.1291866028707,231.6842105263158 1336.5645933014353,224.84210526315792 1440,218 L 1440,500 L 0,500 Z");
    }
    50% {
        d: path("M 0,500 L 0,218 C 103.61722488038276,196.3444976076555 207.23444976076553,174.68899521531102 308,180 C 408.76555023923447,185.31100478468898 506.67942583732054,217.58851674641147 592,241 C 677.3205741626795,264.41148325358853 750.0478468899522,278.9569377990431 842,263 C 933.9521531100478,247.04306220095694 1045.1291866028707,200.58373205741628 1148,188 C 1250.8708133971293,175.41626794258372 1345.4354066985647,196.70813397129186 1440,218 L 1440,500 L 0,500 Z");
    }
    75% {
        d: path("M 0,500 L 0,218 C 81.11961722488039,217.61722488038276 162.23923444976077,217.23444976076553 278,226 C 393.7607655502392,234.76555023923447 544.1626794258373,252.6794258373206 627,260 C 709.8373205741627,267.3205741626794 725.1100478468901,264.04784688995215 817,262 C 908.8899521531099,259.95215311004785 1077.3971291866028,259.12918660287085 1194,252 C 1310.6028708133972,244.87081339712918 1375.3014354066986,231.43540669856458 1440,218 L 1440,500 L 0,500 Z");
    }
    100% {
        d: path("M 0,500 L 0,218 C 123.61722488038276,203.1961722488038 247.23444976076553,188.39234449760764 327,188 C 406.76555023923447,187.60765550239236 442.67942583732054,201.62679425837322 534,195 C 625.3205741626795,188.37320574162678 772.0478468899522,161.10047846889952 895,172 C 1017.9521531100478,182.89952153110048 1117.1291866028707,231.9712918660287 1204,246 C 1290.8708133971293,260.0287081339713 1365.4354066985647,239.01435406698565 1440,218 L 1440,500 L 0,500 Z");
    }
}
@keyframes pathAnim-2 {
    0% {
      d: path("M 0,500 L 0,343 C 68.7846889952153,323.13397129186603 137.5693779904306,303.267942583732 249,317 C 360.4306220095694,330.732057416268 514.5071770334928,378.06220095693783 617,375 C 719.4928229665072,371.93779904306217 770.4019138755982,318.48325358851673 865,318 C 959.5980861244018,317.51674641148327 1097.885167464115,370.00478468899524 1201,383 C 1304.114832535885,395.99521531100476 1372.0574162679425,369.4976076555024 1440,343 L 1440,500 L 0,500 Z");
    }
    25% {
      d: path("M 0,500 L 0,343 C 89.54066985645932,324.4066985645933 179.08133971291863,305.8133971291866 286,302 C 392.91866028708137,298.1866028708134 517.2153110047847,309.1531100478469 621,313 C 724.7846889952153,316.8468899521531 808.0574162679426,313.57416267942585 903,315 C 997.9425837320574,316.42583732057415 1104.5550239234449,322.5502392344498 1196,328 C 1287.4449760765551,333.4497607655502 1363.7224880382776,338.2248803827751 1440,343 L 1440,500 L 0,500 Z");
    }
    50% {
      d: path("M 0,500 L 0,343 C 108.87081339712918,356.42583732057415 217.74162679425837,369.85167464114835 309,381 C 400.25837320574163,392.14832535885165 473.9043062200957,401.01913875598086 563,386 C 652.0956937799043,370.98086124401914 756.6411483253587,332.0717703349282 852,315 C 947.3588516746413,297.9282296650718 1033.531100478469,302.6937799043062 1130,311 C 1226.468899521531,319.3062200956938 1333.2344497607655,331.1531100478469 1440,343 L 1440,500 L 0,500 Z");
    }
    75% {
      d: path("M 0,500 L 0,343 C 69.40669856459331,354.6650717703349 138.81339712918663,366.33014354066984 253,362 C 367.1866028708134,357.66985645933016 526.153110047847,337.3444976076555 628,346 C 729.846889952153,354.6555023923445 774.5741626794257,392.2918660287081 849,389 C 923.4258373205743,385.7081339712919 1027.5502392344497,341.488038277512 1131,327 C 1234.4497607655503,312.511961722488 1337.2248803827752,327.755980861244 1440,343 L 1440,500 L 0,500 Z");
    }
    100% {
      d: path("M 0,500 L 0,343 C 68.7846889952153,323.13397129186603 137.5693779904306,303.267942583732 249,317 C 360.4306220095694,330.732057416268 514.5071770334928,378.06220095693783 617,375 C 719.4928229665072,371.93779904306217 770.4019138755982,318.48325358851673 865,318 C 959.5980861244018,317.51674641148327 1097.885167464115,370.00478468899524 1201,383 C 1304.114832535885,395.99521531100476 1372.0574162679425,369.4976076555024 1440,343 L 1440,500 L 0,500 Z");
    }
}
