@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-black: #001219;
  --color-teal: #005f73;
  --color-cyan: #0a9396;
  --color-mint: #94d2bd;
  --color-cream: #e9d8a6;
  --color-yellow: #ee9b00;
  --color-orange: #ca6702;
  --color-brown: #bb3e03;
  --color-red: #ae2012;
  --color-maroon: #9b2226;
  --color-pastel-blue: #00AED1;
  --color-pastel-pink: #D95458;
  --color-white-100: #efefef;
  --font-sans: "Mona Sans", sans-serif;
}

* {
  font-family: 'Poppins', sans-serif;
}

.info {
  @apply space-y-4 lg:translate-y-20;
  #title {
    @apply md:text-6xl text-3xl text-yellow max-w-40;
  }
}

#hero {
  @apply relative z-10 min-h-dvh w-full border border-transparent;

  h1 {
    @apply md:mt-32 mt-40 text-8xl lg:pr-30 lg:pl-30 md:text-[15vw] leading-none text-center font-serif;
  }

  .body {
    @apply container mx-auto lg:absolute lg:-left-20 lg:bottom-10 top-auto md:top-[30vh] block lg:flex justify-between items-end px-5;

    .content {
      @apply flex lg:flex-row flex-col pt-10 lg:pt-55 w-full gap-10 justify-between items-center lg:items-end mx-auto transition-all ease-in-out;

      p:nth-of-type(2) {
        @apply hidden lg:block pt-3 lg:pt-10 pb-10 text-2xl lg:text-6xl text-yellow max-w-xl;
      }

      p:last-of-type {
        @apply 2xl:text-start text-center;
      }

      .view-right {
        @apply lg:relative space-y-5 text-lg pb-15 lg:max-w-2xs md:max-w-xs w-full lg:mr-15;

        p {
          @apply text-left;
        }

        a {
          @apply font-semibold opacity-80 2xl:text-start text-center hover:text-yellow;
        }
      }
    }
  }
}

video {
  @apply w-full blur-xs md:h-[80%] h-1/2 absolute bottom-0 left-0 md:object-contain object-bottom object-cover;
}